.project-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.project-card h3 {
    text-decoration: none;
    padding-top: 15px;
}

.project-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card h3,
.content {
    padding: 10px;
    margin: 0;
    color: #333;
    text-align: center;
}



#view {
    margin-bottom: 4px;
    padding: 0px 16px; 
    color: white;
    background-color: #368eed;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

#view:hover {
    background-color: #0056b3;
}
