.project-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-card a { 
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

.project-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card h3,
.project-card p {
    padding: 10px;
    margin: 0;
    color: #333;
    text-align: center;
}

.project-card h3{
    padding-top: 15px;
}